<head>

  <title>Publist</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="revisit-after" content="15 days" />
  <meta name="author" content="Publist" />

  <!-- <link type="text/css" rel="stylesheet" href="css/main.css"> -->

  <link rel="shortcut icon" href="/img/logo/mark.svg">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/logo/mark.svg">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/logo/mark.svg">
  <link rel="image_src" href="/img/logo/mark.svg" />

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.publist.nl"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.tuxion.nl/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 19]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.tuxion.nl/piwik.php?idsite=19" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</head>

<body>

  <div id="react-root"></div>

</body>
